* {
    margin: 0;
    padding: 0;
}

header,
footer {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100%;
    font-family: sans-serif;
    text-decoration: none;
    background-color: rgb(37, 36, 36);
    color: rgb(105, 104, 104);
}

header {
    text-align: right;
    position: fixed;
    top: 0;
    border-bottom: 5px solid rgb(63, 62, 62);
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-top: 5px solid rgb(63, 62, 62);
    font-family: sans-serif;
    text-decoration: none;
    font-size: 150%;
    text-align: center;
    line-height: 85px;
    color: rgb(199, 194, 194)
}

figure {
    margin-top: 101px;
    margin-bottom: 101px
}

a {
    text-decoration: none;
    color: rgb(199, 194, 194);
    display: flex;
    flex-direction: row;
    flex: wrap;
    padding: 10px;
    font-size: 150%;
    position: relative;
    top: 35px;
    right: 100px;
    float:right;
}


body {
    position: relative;
    background-color: rgb(31, 30, 30);
}

main {
    padding: 25px;
    top: 101px;
}

#rush-point-logo {
    position: fixed;
    left: 12.5px;
    top: 12.5px;
    height: 75px;
}

ul {
    margin: 0 auto;
    width: auto;
    border: 5px solid rgb(63, 62, 62);
    border-radius: 20px;
    padding: 10px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    padding: 5px;
    color: rgb(199, 194, 194);
    margin-left: 10px;
    list-style-type: none;
}

p {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(199, 194, 194);
    font-size: 125%
}

h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: rgb(199, 194, 194)
}

h1 {
    margin-bottom: 25px;
    border-bottom: 2px solid white;
}

h2 {
    border-bottom: 2px solid white;
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

.ethereal {
    color: rgb(115, 247, 233)
}

.mythic {
    color: rgb(133, 2, 2)
}

.legendary {
    color: gold
}

.epic {
    color: purple
}

.rare {
    color: rgb(39, 39, 245)
}

.uncommon {
    color: rgb(6, 150, 6)
}

.common {
    color: grey
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 768px) {
    a,
    p,
    li {
        font-size: 100%;
    }
}